.body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Setting{
   
    border: 1px solid red;
    height: 80px;
    margin-left: 350px;
    margin-top: 100px;
    padding: 20px 20px;
    color: white;
}
.MainBox{
 display: flex;

 justify-content: center;
 flex-direction: column;
}

