/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  background-color: #231810;
  font-family: sans-serif;
  overflow-x: hidden;
  display: grid;
  
}
 
.app-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 100vh;
  align-items: center;
}
/*
.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.section-gap {
  margin-bottom: 100px;
} */
