/* MoodInput.css */
.MoodInp_Prnt{
    width: 100%;
    height: 50px;
}
.mood-input {
  width: 100%;
  padding: 12px;
  background-color: #4d3224;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
}
