.upload-box {
  border: 1px dashed #bb9069;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.upload-box h3 {
  margin-bottom: 10px;
}

.upload-box p {
  color: #ccc;
  font-size: 14px;
  margin-bottom: 10px;
}

/* Hide actual file input */
.upload-btn {
  display: none;
}

/* Style label like a button */
.upload-label {
  display: inline-block;
  padding: 10px 25px;
  background: #f86b06;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  /* transition: background 0.3s ease; */
}

.upload-label:hover {
  background: #d85c00;
}
