/* MoodForm.css */
.form-section {
  max-width: 500px;
  width: 100%;
  margin: 40px auto;
  text-align: center;
  color: white;
}

.form-heading {
   height: 70px;
  font-size: 34px;
  margin-top: 100px;
}

.or-text {
 height: 60px;
  margin: 20px 0 10px;
  color: #ccc;
}
