/* SubmitButton.css */
.submit-btn {
  height: 50px;
  width: 120px;
  background: #f86b06;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-top:  30px;
}
.submit-btn:hover{
  background-color:#ff5500;
}
